# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %>Form < ApplicationForm
<% attributes.reject(&:reference?).each do |attribute| -%>
  field :<%= attribute.name %>
<% end -%>
end
<% end -%>
