# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %>Policy < ApplicationPolicy
  permit_attributes %i[<%= attributes.reject(&:reference?).map { |attribute| attribute.name }.join(' ') %>]

  def create?
    false
  end

  def update?
    false
  end

  def destroy?
    false
  end
end
<% end -%>
