# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %>Serializer < ApplicationSerializer
<% attributes.each do |attribute| -%>
<% if attribute.reference? -%>
  has_one :<%= attribute.name %>, predicate: Vocab.app[:<%= attribute.name.camelize(:lower) %>]
<% else -%>
  attribute :<%= attribute.name %>, predicate: Vocab.app[:<%= attribute.name.camelize(:lower) %>]
<% end -%>
<% end -%>
end
<% end -%>
